{% extends 'base.html.twig' %}

{% block body %}

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3" id="logged-on-phrase">
            <span id="logged-on-phrase">Tu es loggé en tant que {{ app.user.userIdentifier }},<br> <a href="{{ path('main_home') }}">Accueil</a> <a href="{{ path('app_logout') }}">Logout</a></span>
        </div>
    {% endif %}
    {% block nav%}{% endblock%}

    <form method="post">
    <div class="container">
        <div class="col-6 container">
            <div class="row">
                <p class="col-3">Identifiant :</p>
                <input type="text" class="col-8 form-control"  value="{{ last_username }}" name="identifiant" id="inputIdentifiant" autocomplete="username" required autofocus>
            </div>
            <div class="row">
                <p class="col-3">Mot de passe :</p>
                <input type="password" class="col-8 form-control" name="plainPassword" id="inputPassword" autocomplete="current-password" required>
            </div>
            <div class="row">
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
            </div>
            <div class="test row col-10">
                <button class="col-6 btn btn-lg btn-primary" type="submit">Connexion</button>
                <div class="checkbox mb-3">
                        <input type="checkbox" class="col-6 " name="_remember_me"><p>Se souvenir de moi</p>
                </div>
            </div>
            <div class="d-flex justify-content-around">
            </div>
        </div>
    </div>
    </form>


{% endblock %}
{% block footer%}{% endblock %}
{% block title %}{{ parent() }} | Login [{% endblock %}