<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sortir!</title>

    {# Pour la normalisation d'un site utiliser normalize #}
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">

    {# Lien bootstrap #}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    {# utilisation d'un css particulier #}
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">

    {# Appel de l'icone pour l'onglet #}
    <link rel="icon" href="{{ asset('img/icon.png')}}">

    {# Script bootstrap #}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script></head>

{# Police Josefin (Google Font) #}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Lobster&display=swap" rel="stylesheet">
<body>
    <header>
        <h1><a href="{{ path('main_home') }}"><img src="{{ asset('img/icon.png') }}" alt="Sortir!"/></a></h1>
    </header>

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div class="container">
        <div class="col-6 container">
            <div class="row">
                <p class="col-3">Identifiant :</p>
                <input type="text" class="col-8"  value="{{ last_username }}" name="identifiant" id="inputIdentifiant" class="form-control" autocomplete="username" required autofocus>
            </div>
            <div class="row">
                <p class="col-3">Mot de passe :</p>
                <input type="password" class="col-8" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            </div>
            <div class="row">
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
            </div>
            <div class="test row col-10">
                <button class="col-6 btn btn-lg btn-primary" type="submit">Connexion</button>
                <div class="checkbox mb-3">
                        <input type="checkbox" class="col-6 " name="_remember_me"><p>Se souvenir de moi</p>
                </div>
            </div>


            <div class="d-flex justify-content-around">

            </div>
        </div>

    </div>
</form>
{% endblock %}
