{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(registrationForm) }}
    <div >
        <h2 class="text-center">Création d'un nouvel utilisateur</h2>
        <div class="container">
            <img class="" src="{{ asset('img/sagat.jpg') }}" alt="ImageDeProfil">
            <div class="col-10 container userCreationForm">
                <div class="row">
                    <p class="col-4">Pseudonyme</p>
                    <div class="col-8">{{ form_widget(registrationForm.identifiant) }}</div>
                </div>
                <div class="row">
                    <p class="col-4">Nom</p>
                    <div class="col-8">{{ form_widget(registrationForm.nom) }}</div>
                </div>
                <div class="row">
                    <p class="col-4">Prenom</p>
                    <div class="col-8">{{ form_widget(registrationForm.prenom) }}</div>
                </div>
                <div class="row">
                    <p class="col-4">Telephone</p>
                    <div class="col-8">{{ form_widget(registrationForm.telephone) }}</div>
                </div>
                <div class="row">
                    <p class="col-4">Email</p>
                    <div class="col-8">{{ form_widget(registrationForm.email) }}</div>
                </div>
                <div class="row">
                    <p class="col-4">Mot de passe</p>
                    <div class="col-8">{{ form_widget(registrationForm.plainPassword) }}</div>
                </div>
                <div class="row">
                    <p class="col-4">Administrateur</p>
                    <div class="col-8">{{ form_widget(registrationForm.administrateur) }}</div>
                </div>
                <p>Rajouter les boutons Campus et Télécharger une photo</p>
                <div class="d-flex justify-content-around">
                    <button type="submit" class="shadow p-3 mb-5 bg-white rounded">Valider</button>
                    <button class="shadow p-3 mb-5 bg-white rounded">Annuler</button>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(registrationForm) }}
{% endblock %}

{% block title %}
    Création de mon profil | {{ parent() }}
{% endblock %}
