<nav>
    <ul>
        <li>
            <a href="{{ path('main_ville') }}">Ville</a>
        </li>
        <li>
            <a href="{{ path('main_campus') }}">Campus</a>
        </li>
        <li>
            <a href="{{ path('main_home') }}">Accueil</a>
        </li>
        <li>
            <a href="{{ path('main_profil') }}">Mon profil</a>
        </li>
        <li>
            <a href="{{ path('main_login') }}">Login</a>
        </li>
    </ul>
</nav>