{% extends 'base.html.twig' %}

{% block title %}
{{ sortie.nom }}| {{ parent() }}
{% endblock %}

{% block body %}
    <h2>Nom de la sortie :{{ sortie.nom }}</h2>
    <div>Date et heure de la sortie :{{ sortie.dateHeureDebut }}</div>
    <div>Date limite d'inscription :{{ sortie.dateLimiteInscription }}</div>
    <div>Nombre de places :{{ sortie.nbInscriptionsMax }}</div>
    <div>Durée :{{ sortie.duree }}</div>
    <div>Description et infos :{{ sortie.infosSortie }}</div>


{% endblock %}

