{% extends 'base.html.twig' %}

{% block body %}

    <section>

        {# Boucle sur le tableau de sortie #}
        {% for sortie in sorties %}
            <article>
                <a href="{{ path('sortir_details', {'id': sortie.id}) }}" title="Voir les détails de la sortie" alt="{{ sortie.nom}}">-->
                    <img src="{{ asset('img/sorties/plage.jpg') }}" alt="{{ sortie.nom}}">
                </a>
            </article>
        {% endfor %}

    </section>

{% endblock %}

{% block title %}
    Les meilleurs sorties | {{ parent() }}
{% endblock %}

